/*to make our website responsive for different devices we made a different style sheet and linked it to our html file*/

/* navigation bar */
#navbar{
    flex-direction: column;
}

/* Home Section */
#home{
    height:370px;
    padding: 53px 68px;
} 

#home::before{
    height: 480px;
}

#home p{
    font-size: 13px;
}

/* service section */
#services{

}

#services .box{
    flex-direction: column;
}


/* client section */


/* contact section */

/* footer  */